<mat-list class="app-class">
  <mat-list-item *ngFor="let assignable of assignables">
    <mat-card class="assignable-card">
      <mat-card-header>
        <mat-card-title>{{assignable.description || ''}}</mat-card-title>
        <mat-card-subtitle>
          <a href="{{assignable.link || ''}}" target="view_window">{{assignable.link || ''}}</a>
        </mat-card-subtitle>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
    </mat-card>
  </mat-list-item>
</mat-list>